* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding-top: 6rem;
	background-color: #333;
	color: #fff;
}

.home__div {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.store__div,
.cart__div,
.admin__div {
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.home__div h1,
.cart__div h1,
.store__div h1,
.admin__div h1 {
	font-size: 3rem;
	margin: 0;
}

.common__button {
	background-color: #333;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	font-size: 1rem;
	text-decoration: none;
}

.home__button {
	font-size: 2rem;
}

.common__button:hover,
.common__button:focus,
.common__button:active {
	outline: none;
	background-color: #fff;
	color: #333;
}

.modal {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background-color: #333;
	padding: 1rem;
	text-align: center;
	width: 30rem;
	z-index: 10;
	position: fixed;
	top: 20vh;
	left: calc(50% - 15rem);
}

.modal__button,
.modal__button--alt {
	font-size: 1.5rem;
}

.modal__button:hover,
.modal__button:focus,
.modal__button:active {
	background-color: #3f3;
}

.modal__button--alt:hover,
.modal__button--alt:focus,
.modal__button--alt:active {
	background-color: #f33;
}

.backdrop {
	position: fixed;
	z-index: 1;
	background-color: #000c;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

form {
	padding: 1rem;
}

input {
	width: 100%;
	height: 2rem;
	margin: 0.5rem 0;
	padding: 0.5rem;
	font-size: 1.5rem;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
}

input:focus {
	outline: none;
}

label {
	font-size: 1.5rem;
}

.product__ul {
	list-style: none;
	margin: 0;
	padding: 1rem;
	width: 100%;
}

.product__li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-bottom: 1px solid #fff;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 50%;
}

.column-3 {
	flex: 33.3%;
}

@media (max-width: 600px) {
	.column {
		flex: 100%;
	}
}
